ul {
  list-style-type: none;
  display: block;
  padding-left: 0;
}
html {
  min-height: 100%;
  position: relative;

}
body {
  font-family: Montserrat, sans-serif;
  line-height: 1.8;
  background-color: #131d4a;
  margin-bottom: 60px;
}
footer {
  background-color: #327E8C;
  color: white;
  font-family: Roboto, sans-serif;
  padding: 15px;
}
h1 {
  font-size: 1.5em;
}
* {
  box-sizing: border-box;
}

.header {
  /* background-image: url("../images/background.png"); */
  /* margin-top: -45px; */

}
.banner {
  width: 0;
  max-width: 500px;
  padding-top: 5vw;
  padding-bottom: 5vw;
  position: absolute;
  width: 30%;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  z-index:5;
}
.header_background {
  width: 100%;
  z-index: 0;
}
/* .banner_combo {
  width: 100%;
  margin-top: 10px;
} */
.divider {
  text-align: center;
  padding: 15px;
}

#menuToggle input {
  opacity: 0;
}
.nav_bar {
  font-family: Roboto, sans-serif;
  background-color: #327E8C;
  text-align: center;
  margin-top: -40px;
}
.nav_bar li a {
  text-decoration: none;
  color: white;
}
.nav_bar li a.accent {
  border-bottom: 2px solid white;
}
.nav_bar li {
  padding: 0.5rem 1rem;
  display: inline-block;
  margin: auto;
}
.nav_bar li a:hover {
  color: #0E366A;
  transition: all 0.5s;
}

.foot {
  text-align: right;
  padding-right: 100px;
  /* grid-row-start: 2;
  grid-row-end: 3; */
  bottom: 0;
  position: absolute;
  width: 100%;
}

.text {
  background-color: #F2F2F2;
  width: 80%;
  max-width: 1000px;
  display: block;
  margin: auto;
  margin-top: 50px;
  padding: 50px;
  padding-bottom: 8vw;
}
.quote {
  background-color: #0e366ab0;
  color: white;
  padding: 10px;
}

/* CHANGE CONTACTS */
.contacts {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-gap: 20px;
}
.contacts p {
  margin-top: 0;
}
.contacts img {
  width: 100%;
}

.button {
  background-color: #246684;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  width: 200px;
  font-family: Montserrat, sans-serif;
}
.button:hover {
  color: #246684;
  background-color: white;
  padding: 7px;
  border: 3px solid #246684;
}

.button_bloc {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  width: 500px;
}
.center {
  margin: auto;
}

/* interactive media */
@media screen and (max-width: 1000px) {
  .banner {

  }
  .contacts {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  .contacts img {
    width: 50%;
  }
}

@media screen and (max-width: 700px) {
  .button_bloc {
    grid-template-columns: 1fr;
    width: 240px;
  }
  .banner {
    width: 40%;
    padding-top: 0;
  }
  .text {
    padding: 10px;
    padding-bottom: 40px;
    width: 90%;
  }
  /* .banner_combo {
    margin-top: 40px;
  } */
  .nav_bar {
    margin-top: 0px;
  }

  #menuToggle
  {
    display: block;
    position: relative;
    background-color: #327E8C;
     z-index: 1;
     padding: 15px;
    -webkit-user-select: none;
    user-select: none;
    margin-top: -10px;
  }

  #menuToggle input
  {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: 6px;
    left: 6px;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
  }

  /*hambuger */
  #menuToggle span
  {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: white;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                /* background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), */
                opacity 0.55s ease;
  }

  #menuToggle span:first-child
  {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }

  /*hamburger to cross*/
  #menuToggle input:checked ~ span
  {
    /* opacity: 1; */
    transform: rotate(45deg) translate(-2px, -1px);
    /* background: black; */
  }

  /*hide middle*/
  #menuToggle input:checked ~ span:nth-last-child(3)
    {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }
  #menuToggle input:checked ~ span:nth-last-child(2)
    {
      transform: rotate(-45deg) translate(0, -1px);
    }

  .nav_bar {
    z-index:1000000;
    left: 0;
    position:absolute;
    width:100%;
    text-align:center;
     -webkit-font-smoothing: antialiased;
     transform-origin: 0% 0%;
     transform: translate(-100%, 0);
     transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  .nav_bar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
  }
  .nav_bar li {
    display: block;
    /* border-bottom: white 1px solid; */
  }
  #menuToggle input:checked ~ ul
  {
    transform: none;
  }
}

@media screen and (max-width: 500px) {
  .contacts img {
    width: 100%;
  }
}
